
.navbarContainer {
    display: grid;
    grid-template-areas: 'logo navbar';
    gap: 10%;
    grid-template-columns: 30% 70%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* box-shadow: 1px 1px 10px 2px lightgray; */
    align-items: baseline;
}

.logo {
    grid-area: logo;
    margin: 20px 30px;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 10%;
}

.navbar li {
    margin-right: 8%;
    font-size: 1.25rem;
}

.navbar a {
    transition: all ease .5s;
}

.navbar a:hover {
    color: white;
}

